* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.block3 {
    background-color: rgb(233, 153, 206);
    height: 200px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 2s;
}
@keyframes heart {
        0% {
        height: 100px;
    }
    15% {
        height: 102px;
    }
    30% {
        height: 104px;
    }
    45% {
        height: 106px;
    }
    60% {
        height: 108px;
    }
    75% {
        height: 110px;
    }
    90% {
        height: 112px;
    }
    195% {
        height: 113px;
    }
    100% {
        height: 116px;
    }
}
#heart {
    height: 100px;
    margin: 50px;
    animation: heart 0.5s infinite;
}

